.post {
  background: var(--palette-light);
  flex-direction: column;
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 0.625rem;
}

.post .title {
  padding: 0 1rem 1rem 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.post .title h3 > span {
  font-weight: 300;
  color: var(--palette-caption);
}

.post > hr {
  border: none;
  border-top: 1px solid #cfd8dc;
  margin: 0 1rem;
}

.post > footer {
  padding: 0.5rem 1rem;
  flex-direction: row;
  display: flex;
}

.post:not(:last-of-type) {
  margin-bottom: 2rem;
}

.albumImages {
  flex-direction: row;
  overflow: hidden;
  margin: 0 1rem 1rem 1rem;
  display: flex;
}

.albumImages > img {
  margin-right: 0.125rem;
  height: 8.5rem;
  width: auto;
}

.post > header {
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  display: flex;
}

.post > header > div {
  padding: 0 1rem;
}

.post > header > div > time {
  align-items: center;
  margin-top: 0.5rem;
  display: flex;
  color: var(--palette-caption);
}

.post > header > div > time > i {
  fill: var(--palette-caption);
  margin-right: 0.25rem;
  transform: scale(0.8);
}

.createdAtIcon {
  fill: var(--palette-caption);
  margin-right: 0.5rem;
  height: 0.625rem;
  width: 0.625rem;
}

.post > header > div > a {
  color: var(--palette-primary);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.post > .header > img {
  height: 3rem;
  width: 3rem;
  border-radius: 0.25rem;
}

.content {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0 1rem;
  white-space: pre-line;
}

.comments {
  /* TODO: unify colors */
  border-top: 1px solid #eceff1;
  padding: 1rem;
}

.comments pre {
  white-space: break-spaces;
  font-size: 0.625rem;
}
